<h1> <%=fn%> <%=ln%> your coins are from your total change 
<%coins.each do |key, value|%> 
	<%=value%> <%=key%>,
<%end%>
from <%=change%></h1>

<form = method="post" type action = "p_results">
	<input type = "submit" value = "Try Again">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
</form>